<div id="MainLayout" class="g-sidenav-show bg-gray-100 min-vh-100" [ngClass]="isMobile ? 'g-sidenav-hidden' : 'g-sidenav-pinned'">
	<aside
		class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3 z-index-max"
		id="sidenav-main"
		[ngClass]="{ 'bg-white': isMobile }"
	>
		<sidebar></sidebar>
	</aside>
	<main id="main-content" class="main-content position-relative border-radius-lg">
		<navbar></navbar>
		<div class="px-4 mt-4">
			<router-outlet></router-outlet>
		</div>
	</main>
</div>
